@import "../variable";

%partner__default {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: $background;
}

%partner__area {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

%partner__media {
	display: block;
	width: 100%;
	max-width: none;
	height: auto;
}


%partner__text {
	font-family: $font-family;
	font-size: 16px;
	font-weight: 500;
	cursor: default;
	color: #121212;
	text-decoration: none;
	text-align: left;
	line-height: 1.8;

	padding: 0;
	margin: 0;

	a {
		text-decoration: none;
	}
}