@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');


// -- font family
$font-family: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Baloo: 'Baloo Chettan', cursive;

// -- color
$background: #fff;


// -- media
$width-max-desktop: 1280px;
$width-min-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 326px;


// -- vars
$bg-color: #fff;
$default-size: 50px;
$tablet-size: 60px;

$label-font-size: 16px;
$label-font-size-redo: $default-size * 4;