//IMPORT`s

@import '../variable';
@import '../partner';
@import '../landing';


h1 {
	margin: 0;
}

body {
	@extend %partner__default;
}


.header--medgrupo {
	position: relative;
	padding: 22px 0 0 22px;
}


.header--medgrupo {
	.header--brand {
		position: relative;
		width: 42px;
		height: 42px;
		font-size: 0;
		text-indent: -9999;
		border-radius: 100%;
		margin-bottom: 22px;

		background: #d58650;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 26px; 
		background-image: url('media/icon/newmenu_cross.svg');
	}

	.header__text {
		@extend %partner__text;
		color: #a1a2a3;
		line-height: 1.5;
		font-weight: 600;

	}
}




.menu--medgrupo {

	.menu__area {
		padding: 22px 0 0 0;
	}

	.menu__title {
		@extend %partner__text;
		color: #000;
		font-weight: 600;
	}

	.menu__list {
		position: relative;
		margin: 0;
		padding: 0 0 22px 10px;

		&:after {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			width: 80%;
			height: 0;
			border-bottom: 1px solid #c3c3c3;
		}
	}

	.menu__item {
		@extend %partner__text;
		list-style: none;
		padding: 12px 0 0 0;
		font-size: 14px;
	}

	.menu__handle {
		position: relative;
		display: inline-block;
		color: #000;

		&:before {
			content: '';
			position: relative;
			display: inline-block;
			top: 10px;
			width: 30px;
			height: 30px;

			margin-right: 14px; 
			// background: #c3c3c3;
			background-repeat: no-repeat;
			background-position: center;

			// background: url('media/icon/icon_newacademicas.svg') no-repeat center;

		}
	}
	
	// Main
	.menu__handle--101 { &:before { background-image: url('media/icon/icon_newmain.svg'); } }
	.menu__handle--102 { &:before { background-image: url('media/icon/icon_newslideaula.svg'); } }
	.menu__handle--103 { &:before { background-image: url('media/icon/icon_newacademicas.svg'); } }
	.menu__handle--104 { &:before { background-image: url('media/icon/icon_newcontri.svg'); } }

	// Training Area
	.menu__handle--201 { &:before { background-image: url('media/icon/icon_newsimu.svg'); } }
	.menu__handle--202 { &:before { background-image: url('media/icon/icon_newintegra.svg'); } }
	.menu__handle--203 { &:before { background-image: url('media/icon/icon_newmonta.svg'); } }

	//Administrative
	.menu__handle--301 { 
		&:before { 
			background-image: url('media/icon/icon_newsfinan.jpg');
			background-size: 100%; 
		} 
	}

	.menu__handle--302 { 
		&:before { 
			background-image: url('media/icon/icon_newsnotas.jpg'); 
			background-size: 100%; 
		} 
	}
	.menu__handle--303 { 
		&:before { 
			background-image: url('media/icon/icon_newsportador.jpg'); 
			background-size: 100%; 
		} 
	}
}
