
body {
	@extend %partner__default;
}


//IMPORT`s

@import '../variable';
@import '../partner';
@import '../landing';
@import '../menu';
@import '../header';
@import '../circle';
@import '../mobile';


.front--class {
	@extend %partner__area;
	flex-direction: row;
	flex-flow: row wrap;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;


	.front__area {
		@extend %partner__area;
		flex-direction: row;
		flex-flow: row nowrap;
		justify-content: center;
		position: relative;
		width: 25%;
		padding: 0;
		margin: 4% 0 0;

		@media (max-width: 870px) {
			width: 32.4375%;
		}

		@media (max-width: 470px) {
			width: 49.4375%;
		}
	}

	.front__content {
		@extend %partner__area;
		flex-direction: row;
		flex-flow: row nowrap;
		position: relative;
		padding: 0;

		margin: 20px 0;

		&:before {
			content: '';
			position: absolute;
			width: 50%;
			height: 100%;

			top: 0;
			left: 0;
			right: 0;
			margin: auto;

			background: #383533;
			background-image: linear-gradient(0deg, #373432, #161616);
		}
	}

	@media (max-width: $width-tablet) {
		.front__content:before {
			height: 76%;
			top: 10px;

			background: #061b1e;
			background-image: none;
		}
	}

	.book--class {
		position: absolute;
		top: -24px;
		display: block;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		color: #fff;

		@media (max-width: $width-tablet) {
			top: -10px;
		}

		.book__week,
		.book__day {
			@extend %partner__text;
			position: relative;
			display: inline-block;
			color: #fff;
			font-size: 14px;

		}


		.book__week {
			font-size: 0;
			&:before {
				content: 'SEM';
				display: inline-block;
				font-size: 14px;
			}

			@media (max-width: $width-tablet) {
				display: block;
				text-align: center;
				font-size: 12px;
			}
		}

		@media (max-width: $width-tablet) {
			.book__week:before {
				display: none;
			}

			.book__day {
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}


.front--simulated {
	@extend %partner__area;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: flex-start;
	
	max-width: $width-max-desktop;
	width: 96%;
	margin: 22px auto;


	.front__area {
		position: relative;
		display: block;
		width: 25%;
		padding: 0;
		margin: 8% 0 0;

		@media (max-width: 980px) {
			width: 32.4375%;
		}

		@media (max-width: $width-tablet) {
			width: 25%;
		}

		@media (max-width: 600px) {
			width: 32.4375%;
		}

		@media (max-width: 470px) {
			width: 49.4375%;
		}
	}

	.front__content {
		@extend %partner__area;
		flex-direction: row;
		flex-flow: row nowrap;
		position: relative;
		padding: 0;

		width: 88%;
		max-width: 200px;
		min-width: 138px;

		margin: 0 auto;

	}

	.front__inner {
		position: absolute;
		@extend %partner__text;
		display: block;
		height: 0;
		font-family: $Montserrat;
		font-size: 27px;

		top: 60%;
		bottom: 0;
		left: 20px;
		margin: -25% auto;

		color: #fff;

		.front__book {
			padding: 0;
			margin: 0;
			line-height: 1;
		}
		
		.front__book--number {
			font-family: $Baloo;
			font-size: 34px;
		}
		
		.front__name {
			font-size: 14px;
			padding: 0;
			margin: 0;
		}
	}

	.front__title {
		@extend %partner__text;
		color: #fff;
		display: block;
		position: relative;
		width: 100%;
		font-family: 16px;
		text-align: center;
		padding: 22px 0 0;
	}

	.front__tag {
		position: absolute;
		top: -15px;
		right: 6px;

		@extend %partner__text;
		color: #fff;
		font-size: 14px;
		text-shadow: 0.1em 0.1em rgba(51,51,51, 0.5);
		
		padding: 5% 13%;
		background: orange;
	
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: -16px;
			width: 0;
			height: 0;
			border: 7px solid #8f5516;
			border-top: 8px solid transparent;
			border-bottom: 7px solid #8f5516;
			border-left: 8px solid transparent;
			border-right: 8px solid #8f5516;
		}
	}

	.front__media {
		@extend %partner__media;
		border-radius: 5px;
	}
}