h1 {
	margin: 0;
}

body {
    display: block;
    margin: 0;
}

.landing--medcurso {

	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	.landing--area {

	}

	.landing--area--header {
		position: relative;
		display: inline-block;
		min-width: 252px;
		flex-basis: 252px;
		background: red; 
	}

	.landing--area--content {
		position: relative;
		display: inline-block;
		width: 100%;
		flex-basis: 100%;
		background: blue; 
	}
}



.header--medgrupo {

	.menu--medgrupo {

	}
}
