@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
body {
  margin: 0px;
  padding: 0px;
  background: #fff; }

.landing--medcurso {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header--medgrupo .header__text, .menu--medgrupo .menu__title, .menu--medgrupo .menu__item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: default;
  color: #121212;
  text-decoration: none;
  text-align: left;
  line-height: 1.8;
  padding: 0;
  margin: 0; }
  .header--medgrupo .header__text a, .menu--medgrupo .menu__title a, .menu--medgrupo .menu__item a {
    text-decoration: none; }

.landing--medcurso .landing--area--header {
  position: relative;
  display: block;
  min-width: 252px;
  -ms-flex-preferred-size: 252px;
  flex-basis: 252px; }

.landing--medcurso .landing--area--content {
  position: relative;
  display: block;
  width: 100%;
  height: 1200px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background-image: url("media/bg/bg.jpg"); }

h1 {
  margin: 0; }

.header--medgrupo {
  position: relative;
  padding: 0 0 0 22px; }

.header--medgrupo .header__text {
  color: #a1a2a3;
  line-height: 1.5;
  font-weight: 600; }

.menu--medgrupo .menu__area {
  padding: 22px 0 0 0; }

.menu--medgrupo .menu__title {
  color: #000;
  font-weight: 600; }

.menu--medgrupo .menu__list {
  position: relative;
  margin: 0;
  padding: 0 0 22px 10px; }
  .menu--medgrupo .menu__list:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 0;
    border-bottom: 1px solid #c3c3c3; }

.menu--medgrupo .menu__item {
  list-style: none;
  padding: 12px 0 0 0;
  font-size: 14px; }

.menu--medgrupo .menu__handle {
  position: relative;
  display: inline-block;
  color: #000; }
  .menu--medgrupo .menu__handle:before {
    content: '';
    position: relative;
    display: inline-block;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-position: center; }

.menu--medgrupo .menu__handle--101:before {
  background-image: url("media/icon/icon_newmain.svg"); }

.menu--medgrupo .menu__handle--102:before {
  background-image: url("media/icon/icon_newslideaula.svg"); }

.menu--medgrupo .menu__handle--103:before {
  background-image: url("media/icon/icon_newacademicas.svg"); }

.menu--medgrupo .menu__handle--104:before {
  background-image: url("media/icon/icon_newcontri.svg"); }

.menu--medgrupo .menu__handle--201:before {
  background-image: url("media/icon/icon_newsimu.svg"); }

.menu--medgrupo .menu__handle--202:before {
  background-image: url("media/icon/icon_newintegra.svg"); }

.menu--medgrupo .menu__handle--203:before {
  background-image: url("media/icon/icon_newmonta.svg"); }

.menu--medgrupo .menu__handle--301:before {
  background-image: url("media/icon/icon_newsfinan.jpg");
  background-size: 100%; }

.menu--medgrupo .menu__handle--302:before {
  background-image: url("media/icon/icon_newsnotas.jpg");
  background-size: 100%; }

.menu--medgrupo .menu__handle--303:before {
  background-image: url("media/icon/icon_newsportador.jpg");
  background-size: 100%; }

/*# sourceMappingURL=index.css.map */
